In [367]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [368]:
auction = pd.read_csv("ipl_2022_dataset.csv")

In [369]:
auction.sample()

,Unnamed: 0,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
56,56,Rovman Powell,75 Lakh,BATTER,2.8,364.0,NaN,Delhi Capitals

In [370]:
auction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 633 entries, 0 to 632
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       633 non-null    int64
 1   Player           633 non-null    object
 2   Base Price       633 non-null    object
 3   TYPE             633 non-null    object
 4   COST IN ₹ (CR.)  237 non-null    float64
 5   Cost IN $ (000)  237 non-null    float64
 6   2021 Squad       199 non-null    object
 7   Team             633 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 39.7+ KB

In [371]:
cricket = pd.read_csv("cricket_newdata.csv")

In [372]:
cricket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 141 entries, 0 to 140
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 141 non-null    int64
 1   Player_Name          141 non-null    object
 2   Matches_Batted       141 non-null    int64
 3   Not_Outs             141 non-null    int64
 4   Runs_Scored          141 non-null    int64
 5   Highest_Score        141 non-null    object
 6   Batting_Average      141 non-null    float64
 7   Balls_Faced          141 non-null    int64
 8   Batting_Strike_Rate  141 non-null    float64
 9   Centuries            141 non-null    int64
 10  Half_Centuries       141 non-null    int64
 11  Fours                141 non-null    int64
 12  Sixes                141 non-null    int64
 13  Catches_Taken        141 non-null    int64
 14  Stumpings            141 non-null    int64
 15  Matches_Bowled       141 non-null    int64
 16  Balls_Bowled         141 non-null    int64
 17  Runs_Conceded        141 non-null    int64
 18  Wickets_Taken        141 non-null    int64
 19  Best_Bowling_Match   141 non-null    object
 20  Bowling_Average      141 non-null    float64
 21  Economy_Rate         141 non-null    float64
 22  Bowling_Strike_Rate  141 non-null    float64
 23  Four_Wicket_Hauls    141 non-null    int64
 24  Five_Wicket_Hauls    141 non-null    int64
dtypes: float64(5), int64(17), object(3)
memory usage: 27.7+ KB

In [373]:
cricket.head()

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Matches_Bowled,Balls_Bowled,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls
0,2022,Ruturaj Gaikwad,14,0,368,99,26.29,291,126.46,0,...,14,0,0,0,0,0.0,0.00,0.0,0,0
1,2022,Devon Conway,7,1,252,87,42.00,173,145.66,0,...,7,0,0,0,0,0.0,0.00,0.0,0,0
2,2022,MS Dhoni,14,6,232,50*,33.14,188,123.40,0,...,14,0,0,0,0,0.0,0.00,0.0,0,0
3,2022,Ajinkya Rahane,7,0,133,44,19.00,128,103.91,0,...,7,0,0,0,0,0.0,0.00,0.0,0,0
4,2022,Ravindra Jadeja,10,4,116,26*,19.33,98,118.37,0,...,10,198,248,5,3/39,49.6,7.52,39.6,0,0

In [374]:
auction.head(1)

,Unnamed: 0,Player,Base Price,TYPE,COST IN ₹ (CR.),Cost IN $ (000),2021 Squad,Team
0,0,Rashid Khan,Draft Pick,BOWLER,15.0,1950.0,SRH,Gujarat Titans

In [377]:
auction_clean = auction.drop_duplicates(subset=['Player'])
cricket = cricket.drop(columns=['Position', 'Auction_Price', 'TYPE', 'COST IN ₹ (CR.)'], errors='ignore')
cricket = cricket.merge(
    auction_clean[['Player', 'TYPE', 'COST IN ₹ (CR.)']], 
    left_on='Player_Name', 
    right_on='Player', 
    how='left'
)
cricket.rename(columns={
    'TYPE': 'Position', 
    'COST IN ₹ (CR.)': 'Auction_Price'
}, inplace=True)

cricket.drop(columns=['Player'], inplace=True)
cricket.sample(5)

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls,Position,Auction_Price
59,2022,Rahul Chahar,13,2,77,25*,12.83,68,113.24,0,...,360,14,3/25,25.71,7.71,20.00,0,0,BOWLER,5.25
53,2022,Yuzvendra Chahal,17,1,5,5,5.00,8,62.50,0,...,527,27,5/40,19.52,7.75,15.11,1,1,BOWLER,6.50
136,2022,Ravichandran Ashwin,17,5,191,50,27.29,135,141.48,0,...,503,12,3/17,41.92,7.51,33.50,0,0,NaN,NaN
132,2022,Quinton de Kock,15,1,508,140*,36.29,341,148.97,1,...,0,0,0,0.00,0.00,0.00,0,0,NaN,NaN
62,2022,Chetan Sakariya,3,0,0,0,0.00,0,0.00,0,...,84,3,2/23,28.00,7.64,22.00,0,0,BOWLER,4.20

In [378]:
cricket.sample()

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls,Position,Auction_Price
60,2022,Manish Pandey,6,0,88,38,14.67,80,110.0,0,...,0,0,0,0.0,0.0,0.0,0,0,BATTER,4.6

In [379]:
cricket.sort_values(by='Auction_Price', ascending = False)

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls,Position,Auction_Price
0,2022,KL Rahul,15,3,616,103*,51.33,455,135.38,2,...,0,0,0,0.00,0.00,0.00,0,0,WICKETKEEPER,17.00
3,2022,Rohit Sharma,14,0,268,48,19.14,223,120.18,0,...,0,0,0,0.00,0.00,0.00,0,0,BATTER,16.00
1,2022,Rishabh Pant,14,2,340,44,30.91,224,151.79,0,...,0,0,0,0.00,0.00,0.00,0,0,WICKETKEEPER,16.00
2,2022,Ravindra Jadeja,10,4,116,26*,19.33,98,118.37,0,...,248,5,3/39,49.60,7.52,39.60,0,0,ALL-ROUNDER,16.00
4,2022,Ishan Kishan,14,1,418,81*,32.15,348,120.11,0,...,0,0,0,0.00,0.00,0.00,0,0,WICKETKEEPER,15.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136,2022,Ravichandran Ashwin,17,5,191,50,27.29,135,141.48,0,...,503,12,3/17,41.92,7.51,33.50,0,0,NaN,NaN
137,2022,Faf du Plessis,16,1,468,96,31.20,367,127.52,0,...,0,0,0,0.00,0.00,0.00,0,0,NaN,NaN
138,2022,Rajat Patidar,8,1,333,112*,55.50,218,152.75,1,...,0,0,0,0.00,0.00,0.00,0,0,BATTER,NaN
139,2022,Suyash S Prabhudessai,5,0,67,34,13.40,59,113.56,0,...,0,0,0,0.00,0.00,0.00,0,0,NaN,NaN
140,2022,T Natarajan,11,0,0,0,0.00,0,0.00,0,...,406,18,3/10,22.56,9.44,14.33,0,0,NaN,NaN

In [380]:
cricket.isnull().sum()

Year                    0
Player_Name             0
Matches_Batted          0
Not_Outs                0
Runs_Scored             0
Highest_Score           0
Batting_Average         0
Balls_Faced             0
Batting_Strike_Rate     0
Centuries               0
Half_Centuries          0
Fours                   0
Sixes                   0
Catches_Taken           0
Stumpings               0
Matches_Bowled          0
Balls_Bowled            0
Runs_Conceded           0
Wickets_Taken           0
Best_Bowling_Match      0
Bowling_Average         0
Economy_Rate            0
Bowling_Strike_Rate     0
Four_Wicket_Hauls       0
Five_Wicket_Hauls       0
Position               14
Auction_Price          17
dtype: int64

We will be deciding our team based on a metric, performance index.

Strike rate has been given slightly more priority here because T20 being a short format of the gentleman's game is dependent on how quickly you can bring results too

In [382]:
batsmen = cricket[cricket['Position'] == 'BATTER'].copy()

In [383]:
batsmen.sample()

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls,Position,Auction_Price
117,2022,Anmolpreet Singh,2,0,13,8,6.5,13,100.0,0,...,0,0,0,0.0,0.0,0.0,0,0,BATTER,0.2

In [384]:
bowlers = cricket[cricket['Position'] == 'BOWLER'].copy()

In [385]:
bowlers.sample()

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls,Position,Auction_Price
86,2022,Umesh Yadav,12,3,55,21,13.75,40,137.5,0,...,339,16,4/23,21.19,7.06,18.0,1,0,BOWLER,2.0

In [386]:
all_rounders = cricket[cricket['Position'] == 'ALL-ROUNDER'].copy()

In [387]:
all_rounders.sample()

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Runs_Conceded,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls,Position,Auction_Price
61,2022,Marco Jansen,8,2,9,8*,9.0,7,128.57,0,...,274,7,3/25,39.14,8.56,27.43,0,0,ALL-ROUNDER,4.2

In [389]:
def batScaler(x):
    x['Batting_Strike_Rate'] = (x['Batting_Strike_Rate'] - x['Batting_Strike_Rate'].mean())/x['Batting_Strike_Rate'].std(axis=0)
    x['Batting_Average'] = (x['Batting_Average'] - x['Batting_Average'].mean())/x['Batting_Average'].std(axis=0)
    x['Runs_Scored'] = (x['Runs_Scored'] - x['Runs_Scored'].mean())/x['Runs_Scored'].std(axis=0)
    return x

In [390]:
def bowlScaler(x):
    x['Economy'] = (x['Economy']-x['Economy'].mean())/x['Economy'].std(axis=0)
    x['Bowling_Average'] = (x['Bowling_Average']-x['Bowling_Average'].mean())/x['Bowling_Average'].std(axis=0)
    x['Bowling_Strike_Rate'] = (x['Bowling_Strike_Rate']-x['Bowling_Strike_Rate'].mean())/x['Bowling_Strike_Rate'].std(axis=0)
    return x

In [391]:
def allrounderScaler():
    x['Batting_Strike_Rate'] = (x['Batting_Strike_Rate'] - x['Batting_Strike_Rate'].mean())/x['Batting_Strike_Rate'].std(axis=0)
    x['Batting_Average'] = (x['Batting_Average'] - x['Batting_Average'].mean())/x['Batting_Average'].std(axis=0)
    x['Runs_Scored'] = (x['Runs_Scored'] - x['Runs_Scored'].mean())/x['Runs_Scored'].std(axis=0)
    x['Economy'] = (x['Economy']-x['Economy'].mean())/x['Economy'].std(axis=0)
    x['Bowling_Average'] = (x['Bowling_Average']-x['Bowling_Average'].mean())/x['Bowling_Average'].std(axis=0)
    x['Bowling_Strike_Rate'] = (x['Bowling_Strike_Rate']-x['Bowling_Strike_Rate'].mean())/x['Bowling_Strike_Rate'].std(axis=0)

In [400]:
batsmen = batScaler(batsmen)

In [405]:
batsmen.describe()

,Year,Matches_Batted,Not_Outs,Runs_Scored,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,Half_Centuries,Fours,...,Balls_Bowled,Runs_Conceded,Wickets_Taken,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls,Auction_Price,Performance_Index
count,24.0,24.000000,24.000000,2.400000e+01,2.400000e+01,24.000000,2.400000e+01,24.000000,24.000000,24.000000,...,24.000000,24.000000,24.000000,24.000000,24.000000,24.00000,24.0,24.0,23.000000,24.000000
mean,2022.0,11.583333,1.750000,-3.700743e-17,4.625929e-18,221.166667,1.850372e-17,0.041667,1.791667,27.291667,...,2.125000,4.000000,0.083333,3.000000,2.111250,1.62500,0.0,0.0,6.815217,151.732583
std,0.0,4.063803,2.381998,1.000000e+00,1.000000e+00,92.109890,1.000000e+00,0.204124,1.444003,13.617378,...,7.426817,13.374213,0.282330,13.094971,5.111249,7.34736,0.0,0.0,4.723333,45.005659
min,2022.0,2.000000,0.000000,-2.247776e+00,-1.745182e+00,13.000000,-2.096681e+00,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,0.200000,45.850000
25%,2022.0,7.750000,0.000000,-6.788230e-01,-7.198441e-01,165.250000,-5.809243e-01,0.000000,0.750000,16.750000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,2.900000,119.770750
50%,2022.0,13.500000,1.000000,9.376738e-02,-1.678706e-01,220.500000,2.132338e-01,0.000000,2.000000,26.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,7.500000,158.835000
75%,2022.0,14.000000,2.000000,7.078777e-01,7.034957e-01,291.750000,8.620053e-01,0.000000,3.000000,37.750000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.0,0.0,8.500000,183.586500
max,2022.0,17.000000,9.000000,1.476506e+00,2.507236e+00,375.000000,1.356854e+00,1.000000,5.000000,52.000000,...,36.000000,64.000000,1.000000,64.000000,17.000000,36.00000,0.0,0.0,16.000000,222.005000

In [407]:
bat_performance_index = cricket['Runs_Scored']*0.3 + cricket['Batting_Average']*0.3 + cricket['Batting_Strike_Rate']*0.4
batsmen['Performance_Index'] = bat_performance_index
batsmen.head()

,Year,Player_Name,Matches_Batted,Not_Outs,Runs_Scored,Highest_Score,Batting_Average,Balls_Faced,Batting_Strike_Rate,Centuries,...,Wickets_Taken,Best_Bowling_Match,Bowling_Average,Economy_Rate,Bowling_Strike_Rate,Four_Wicket_Hauls,Five_Wicket_Hauls,Position,Auction_Price,Performance_Index
3,2022,Rohit Sharma,14,0,-0.227155,48,-0.881164,223,-0.673758,0,...,0,0,0.0,0.0,0.0,0,0,BATTER,16.00,134.214
6,2022,Virat Kohli,16,1,0.351297,73,-0.635766,294,-0.897307,0,...,0,0,0.0,0.0,0.0,0,0,BATTER,15.00,155.515
9,2022,Kane Williamson,13,2,-0.639203,57,-0.846986,231,-2.096681,0,...,0,0,0.0,0.0,0.0,0,0,BATTER,14.00,108.096
10,2022,Shreyas Iyer,14,1,0.826738,85,-0.080717,298,0.093457,0,...,0,0/7,0.0,7.0,0.0,0,0,BATTER,12.25,183.379
14,2022,Mayank Agarwal,13,0,-0.797683,52,-1.073244,160,-0.549980,0,...,0,0,0.0,0.0,0.0,0,0,BATTER,12.00,112.699